body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aileron", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("img/1.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

#logo {
  background-position: center;
  background-size: cover;
  background-image: url("img/azerty-groupe.png");
  width: 70px;
  height: 60px;
  padding: 16px;
}

.w3-xxlarge {
  font-family: "Aileron";
  color: grey;
}
